.dropdown-item{
    cursor: pointer;;
}
.nav-item{
    color: white !important;
}

nav > div > li{
    list-style-type: none !important;
}

img{
    max-height: 50px;
    border: 2px solid grey;
    display: inline;
}

